:root {
    --primary: #ddab2c;
    --secondary: #1f1f1f4c;
    --white: #ffffff;
    --dark: #212529;
    --gold: #D9A520;
    --orange: orangered;
    --black: black;
    --wheat: wheat;
    --blue: blue;
    --green: green;
    --red: red;
    --cyan: #22c3b6;
    --darkblue: #0a4976 ;
    --brown: #c68039;
    /* --background: 0 0% 4%; */
}

html {
  scroll-behavior: smooth;
}
/* Custom scrollbar
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: hsl(var(--background));
}

::-webkit-scrollbar-thumb {
  background: hsl(var(--gold) / 0.5);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--gold));
} */

.nav-bar{
    background: transparent;
    backdrop-filter: blur(30px);
}
/* make hero dark */
/* .loundge_hero{
    background-image: url(/assets/images/vip2);
    width: 100%;
    height: 100dvh;
    background-size: cover;
    display: flex;
    position: absolute;
 }
 .color-vip{
    position: relative;
    background-color: black;
    height: 100dvh;
    width: 100%;
    opacity: 0.5;
 } */
  /* scale button */
.scale:hover{
    animation: scale 0.3s ease normal both;
}
@keyframes scale {
    from{transform: scale(1);}
    to{transform: scale(1.2);}
}
.blur{
    background: transparent;
    backdrop-filter: blur(20px);
}
body {
    /* overflow-x: hidden; */
}






/* INDEX CSS */
.button:hover {
    background-color: var(--primary);
    animation: button 0.3s linear normal both;

}

.button:hover {
    color: var(--white);
    border-color: var(--primary);
    background-color: #ddab2c;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    
    box-shadow: 0 0 10px white, 0 0 20px white
}
.button-index-service {
    color: #ddab2c;
    background-color: #00000000;
    backdrop-filter: blur(100px);
    border: solid 1px;
    border-radius: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.button-index-service:hover {
    color: #ddab2ca8;
    background-color: #00000000;
    backdrop-filter: blur(100px);
    border: solid 1px;
    border-radius: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    box-shadow: 0 0 5px white, 0 0 10px white
}
.index-hero{
    background-image: url(/assets/images/sekani-hero);
    background-size: cover;
    /* background-color: #00000094; */
    height: 100dvh;
    width: 100%;
    display: flex;
    position: absolute;  
    /* margin-bottom: 100dvh; */
}
.color-index{
    position: relative;
    background-color: #00000094;
    height: 100dvh;
    width: 100%;

}
.hero {
    margin-top: 5rem;
    height: 100dvh;
    width: 100%;
    background-size: cover;
    padding-top: 6rem;
    font-size: 5rem;
}
@media screen and (max-width: 576px) {
    .hero {
        padding-top: 6rem;
        font-size: 2rem;
    }
}
.active-index{
    color: #ddab2c;
}
.active-index:hover{
    color: #ddab2cc0;
}
.index-hover{
    color: white;
}
.index-hover:hover{
    color: #ffffffc0;
}
.index_services{
    color: #ddab2c;
    border: #ddab2c solid 2px;
}
.index_service:hover{
    color: black;
    background-color: #ddab2c;
    border: black solid 2px;
}
/* @media screen and (max-width: 992px) {
    .hero{
    padding-top: 6rem;
    font-size: 5rem; 
    }
} */
.hero>.container>span {
    color: #ddab2c;
}
.hero-color{
    color: #ddab2c;
}
.hero>a>button {
    background-color: black;
    border: solid white 3px;
}

.hero>a>button:hover {
    background-color: white;
    border: solid black 3px;
    color: black;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

.hero_emoji {
    display: flex;
    /* justify-content: space-around; */
}

.empire {
    color: black;
    border: solid;
    padding: 1rem;
    background-color: #ddab2c;
    border-radius: 10px;
    font-size: 1.5rem;
}

.image {
    position: relative;
    top: 20%;
}

@media screen and (max-width: 576px) {
    .image {
        position: relative;
        top: 0%;
    }
}

.open>div {
    color: white;
}

.open>div:nth-child(1) {
    background-color: #1f1f1f4c;
    border-radius: 15px;
    /* box-shadow: #ddab2c36 -5px -5px 100px -0px inset; */
    color: var(--primary);
    border: solid 2px #ddab2c;
}

.open>div:nth-child(2) {
    background-color: #1f1f1f4c;
    border-radius: 15px;
    /* box-shadow: #ddab2c36 -5px -5px 80px -0px inset; */
    color: var(--primary);
    border: solid 2px #ddab2c;
}

.open>div:nth-child(3) {
    background-color: #1f1f1f4c;
    border-radius: 15px;
    /* box-shadow: #ddab2c36 -5px -5px 100px -0px inset; */
    color: var(--primary);
    border: solid 2px #ddab2c;
}

.open>div:nth-child(4) {
    background-color: #1f1f1f4c;
    border-radius: 15px;
    /* box-shadow: #ddab2c36 -5px -5px 100px -0px inset; */
    color: var(--primary);
    border: solid 2px #ddab2c;
}

.moji {
    border: solid;
    padding: 1.5rem;
    border-radius: 50%;
    font-size: 1.5rem;
    background-color: white;
}

.white {
    color: white;
}

.red {
    color: red;
}

.orangered {
    color: orangered;
}

.blue {
    color: blue;
}

.touch {
    text-decoration: none;
    color: black;

}

.touch:hover {
    border-bottom: 1px solid;
}
.index-moji-hover{
    color: var(--primary); 
    border-radius: 0.5rem; 
    background-color: #ddab2c1a; 
    padding: 1rem;
}
.index-text-hover{
    color: white;
    font-size: 18px; 
    font-family: Playfair Display, serif;
}
.index-services-hover{
    background-color: #1f1f1f4c; 
    border-radius: 1rem; 
    border: #ddab2c1a 2px solid;
}
.index-services-hover:hover{
    box-shadow: #ddab2c36 -5px -5px 30px -0px inset,0 0 20px #ddab2c36;
    background-image: url(/assets/images/hero.jpg);
    background-size: cover;
    /* opacity: 0.5; */
    .index-moji-hover{
        animation: scale 0.5s ease normal both;
        background-color: #1f1f1f4c; 
        color: black;
    }
    .index-text-hover{
        color: #ddab2c;
    }
}
@keyframes scale {
    from{transform: scale(1);}
    to{transform: scale(1.5);}
}
.serice_sticker {
    padding-bottom: 5rem;
    padding-top: 5.1rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-size: 5rem;
    box-shadow: rgb(10, 10, 10) -5px -5px 100px -0px inset;
    background-size: cover;
    color: white;
}

.serice_sticker:hover {
    background-image: url(/assets/images/hero.jpg);
    box-shadow: rgb(10, 10, 10) -0px -0px 0px -0px inset;

    .pot {
        opacity: 0;
        transition-duration: 1s;
        transition-timing-function: linear;
    }
}









/* EATRY CSS */
.eatry_hero {
    background-image: url(/assets/images/food.jpg);
    background-size: cover;
    height: 150dvh;
}
.wheat{
    color: wheat;
}
.food_hero {
    font-size: 6rem;
    color: wheat;
}

.food_text {
    font-size: 1.2rem;
}

@media screen and (max-width: 576px) {
    .food_hero {
        font-size: 3rem;
    }

    .food_text {
        font-size: 1rem;
    }

    .eatry_hero {
        background-image: url(/assets/images/food.jpg);
        background-size: cover;
        height: 100dvh;
    }

}

.activee {
    color: orangered;
}

.button_eatry:hover {
    color: var(--white);
    background-color: orangered;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    box-shadow: 0 0 10px white, 0 0 20px var(--orange)
}
.background_orange{
    background-color: orangered;
}






/* SALOON CSS */
.active_saloon{
    color: black;
}
/* .saloon-nav-hover{
    color: var(--white);
} */
.saloon-nav-hover:hover{
    color: var(--gold);
}
.saloon-hover:hover{
    background-color: rgba(255, 255, 255, 0.548);
}
.saloon_hero {
    background-image: url(/assets/images/sekani_saloon);
    background-size: cover;
    /* height: 100dvh; */
    width: 100%;
}

.saloon_gradient {
    /* box-shadow:  gray 10px -0px 60px -0px inset;
    border-radius: 2rem;
    background-image: linear-gradient( rgba  (128, 128, 128, 0.178), rgba(128, 128, 128, 0.178)); */
    background: transparent;
    backdrop-filter: blur(5px);
    border-radius: 1rem;
}

.gold {
    color: #D9A520;
}
.saloon_text{
    padding-top: 5rem;
}
.saloon_text>div:nth-child(1) {
    font-size: 20px;
}

.saloon_text>div:nth-child(2) {
    font-size: 78px;
}

.saloon_text>div:nth-child(3) {
    font-size: 25px;
}
@media screen and (max-width: 576px) {
    .saloon_text>div:nth-child(1) {
        font-size: 14px;
    }
    
    .saloon_text>div:nth-child(2) {
        font-size: 48px;
    }
    
    .saloon_text>div:nth-child(3) {
        font-size: 18px;
    }
}
.blur{
    background: transparent; 
    backdrop-filter: blur(20px);
}
.button_saloon:hover{
    background-color: #D9A520;
    color: black;
    border: black;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    box-shadow: 0 0 10px white, 0 0 20px var(--white)
}
.button_saloon2{
    background-color: #D9A520;
    color: black;
    border: black solid 2px;
}
.button_saloon2:hover{
    background-color: black;
    color: #D9A520;
    border: #D9A520 solid 2px;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}
.saloon_moji{
    padding: 1.5rem; 
    font-size: 1.5rem; 
    background-color: #D9A5201A;
    border-radius: 1rem;
    color: var(--gold);
}
.saloon_hover:hover{
    .saloon_moji{
        color: white;
        background-color: var(--gold);
        transform: translateY(10px);
        box-shadow: 0 0 10px gray, 0 0 20px gray;
        transition-duration: 0.2s;
        transition-timing-function: linear;
        /* animation: hover 0.3s linear 0s inherit normal fill-mode; */
    }
}
/* @keyframes hover {
    0%{
        color: var(--gold);
        background-color: #D9A5201A;
    }
    100%{
        color: var(--white);
        background-color: var(--gold);
        transform: scale(100px);
        transform: translateY(10px);
        box-shadow: gray  -10px 10px 20px -20px;
    }
} */
 .list_hover:hover{
    .list_hov{
        color: var(--gold);
        transition-duration: 0.2s;
        transition-timing-function: linear;
    }
 }








/* VIP-LOUNDGE */
.active_vip{
    color: white;
}
.vip-nav-hover{
    color: var(--white);
}
.vip-nav-hover:hover{
    color: var(--gold);
}
 .loundge_hero{
    background-image: url(/assets/images/vip2);
    width: 100%;
    height: 100dvh;
    background-size: cover;
    display: flex;
    position: absolute;
 }
 .color-vip{
    position: relative;
    background-color: #00000094;
    height: 100dvh;
    width: 100%;
 }
 .pad{
    padding-top: 10rem;
 }
 .size1{
    font-family: mont
 }
 .size2{
    font-family: serif; 
    font-size: 4rem;
 }
 .size3{
    font-family: Montserrat; 
    font-size: 1.5rem; 
    opacity: 0.5;
 }
 @media screen and (max-width: 576px) {
    .size1{
    font-family: mont
 }
 .size2{
    font-family: serif; 
    font-size: 2rem;
 }
 .size3{
    font-family: Montserrat; 
    font-size: 1rem; 
    opacity: 0.5;
 }
}
 .button_vip{
    background-color: #D9A520;
    color: black;
    border: black solid 2px;
}
.button_vip:hover{
    background-color: black;
    color: #D9A520;
    border: #D9A520 solid 2px;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    box-shadow: 0 0 10px white, 0 0 20px var(--gold)
}
.scale-vip:hover{
    animation: scale 0.3s ease normal both;
}
@keyframes scale {
    from{transform: scale(1);}
    to{transform: scale(1.05);}
}





/* swimmig pool */
.active_swim{
    color: white;
}
.swim-nav-hover{
    color: var(--white);
}
.swim-nav-hover:hover{
    color: #0a4976;
}
.swim-hover:hover{
    background-color: rgba(255, 255, 255, 0.548);
}
.swim_hero{
    background-image: url(/assets/images/pool);
    height: 125dvh;
    width: 100%;
    background-size: cover;
    display: flex;
    position: absolute;
 }
 .color-swim{
    position: relative;
    background-color: #28a8d391;
    height: 100dvh;
    width: 100%;
 }
 .size-swim1{
    font-family: Montserrat;
    color: white;
    border: solid 1px white;
    display: inline-block;
    padding: 1rem;
    border-radius: 3rem;
 }
 .size-swim2{
    font-family: playfair Display; 
    font-size: 5rem;
 }
 .size-swim3{
    font-family: "Outfit", sans-serif;
    font-size: 1.5rem;
    color: white; 
 }
 @media screen and (max-width: 576px) {
    .size-swim1{
    font-family: Montserrat;
    color: white;
    border: solid 1px white;
    display: inline-block;
    padding: 1rem;
    border-radius: 3rem;
 }
 .size-swim2{
    font-family: playfair Display; 
    font-size: 2rem;
 }
 .size-swim3{
    font-family: "Outfit", sans-serif;
    font-size: 18px; 
 }
}
.swim-button2{
    color: #0a4976;
    background-color: #def5f7;
    border-radius: 3rem;
    padding: 0.5rem;
    display: inline-block;
    
}
.button_swim:hover{
    box-shadow: 0 0 10px white, 0 0 20px var(--darkblue);
    background-color: var(--darkblue);
}
.darkblue{
    color: #0a4976;
}
.swim_moji{
    padding: 1.5rem; 
    font-size: 1.5rem; 
    background-color: #22c3b670;
    border-radius: 1rem;
    color: var(--darkblue);
}
.swim_hover:hover{
    .swim_moji{
        color: white;
        background-color: var(--darkblue);
        transform: translateY(10px);
        box-shadow: 0 0 10px gray, 0 0 20px gray;
        transition-duration: 0.2s;
        transition-timing-function: linear;
        /* animation: hover 0.3s linear 0s inherit normal fill-mode; */
    }
}









/* planning start */
.plan_hero{
    background-image: url(/assets/images/plan1);
    width: 100%;
    height: 100dvh;
    background-size: cover;
    display: flex;
    position: absolute;
 }
 .color-plan{
    position: relative;
    background-color: #80808062;
    height: 100dvh;
    width: 100%;
 }
 .size-plan1{
    font-family: Montserrat;
    color: white;
    border: solid 1px #c68039;
    display: inline-block;
    padding: 1rem;
    border-radius: 3rem;
    background-color: #c6803933;
 }
 .size-plan5{
    font-family: Montserrat;
    color: var(--brown);
    border: solid 1px #c68039;
    display: inline-block;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: #c6803933;
 }
 .size-plan2{
    font-family: playfair Display; 
    font-size: 5rem;
 }
 .size-plan3{
    font-family: "Outfit", sans-serif;
    font-size: 1.5rem;
    color: #faf8f5cc; 
 }
 @media screen and (max-width: 576px) {
    .size-plan1{
    font-family: Montserrat;
    color: white;
    border: solid 1px white;
    display: inline-block;
    padding: 1rem;
    border-radius: 3rem;
 }
 .size-plan2{
    font-family: playfair Display; 
    font-size: 2rem;
 }
 .size-plan3{
    font-family: "Outfit", sans-serif;
    font-size: 18px; 
 }
}
.plan-button2{
    color: var(--brown);
    background-color: #def5f7;
    border-radius: 3rem;
    padding: 0.5rem;
    display: inline-block;
    
}
.plan-button4{
    color: var(--brown);
    border-radius: 3rem;
    padding: 0.5rem;
    display: inline-block;
    
}
.button_plan:hover{
    box-shadow: 0 0 10px white, 0 0 20px var(--brown);
    background-color: var(--brown);
}
.darkblue{
    color: #0a4976;
}
.swim_moji{
    padding: 1.5rem; 
    font-size: 1.5rem; 
    background-color: #22c3b670;
    border-radius: 1rem;
    color: var(--darkblue);
}
.swim_hover:hover{
    .swim_moji{
        color: white;
        background-color: var(--darkblue);
        transform: translateY(10px);
        box-shadow: 0 0 10px gray, 0 0 20px gray;
        transition-duration: 0.2s;
        transition-timing-function: linear;
        /* animation: hover 0.3s linear 0s inherit normal fill-mode; */
    }
}